html,
body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
body{
    background-color: #3a4b67;
    background-image: url(./background.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-blend-mode:screen;
    min-height: 100vh;
    padding-top: 5vh;
}

.container{
    display: grid;
    grid-template-columns: repeat(35, 10px); /* 35 columns*/
    grid-template-rows: repeat(50, 10px); /* 50 rows*/
    position: absolute;
    bottom:0;
    left:-webkit-calc(100% - 350px);
    left:-moz-calc(100% - 350px);
    left:calc((100% - 350px)/2);
    
}
/* HEAD  */
.head{
    grid-column: 15 / span 9;
    grid-row: 5 / span 10;
    background-color: burlywood;
    border-radius: 30px;
}

.hair{
    grid-column: 15 / span 8;
    grid-row: 3 / span 5;
    background-color: black;
    border-radius: 50px 25px 80px 0;
}
.hair.two{
    grid-column: 22 / span 2;
    grid-row: 4 / span 4;
    border-radius: 10px 20px 0 20px;
}
.hair.side{
    grid-column: 23 / span 1;
    grid-row: 5 / span 5;
    border-radius: 10px 20px 0 20px;
}
.hair.side.one{
    grid-column: 15 / span 1;
    grid-row: 5 / span 5;
    content: '';
}

.eyebrow{
    border-bottom: black solid 5px;
}
.eyebrow.left{
    grid-column: 16 / span 3;
    grid-row: 8 / span 1;
}
.eyebrow.right{
    grid-column: 20 / span 3;
    grid-row: 8 / span 1;
}

.eye{
    background-color: black;
}
.eye.left{
    grid-column: 17 / span 1;
    grid-row: 10 / span 1;
    border-radius: 8px;
}
.eye.right{
    grid-column: 21 / span 1;
    grid-row: 10 / span 1;
    border-radius: 8px;
}

.glasses {
    border: darkblue solid 3px;
}
.stick{
    border:none;
}
.glasses.stick.left{
    border-top: darkblue solid 1px;
    grid-column: 15 / span 1;
    grid-row: 9 / span 1;
}
.glasses.lense-left{
    grid-column: 16 / span 3;
    grid-row: 9 / span 3;
    border-radius: 8px;
}
.glasses.stick{
    grid-column: 19 / span 1;
    grid-row: 9 / span 1;
    border-bottom: darkblue solid 5px;
}
.glasses.lense-right{
    grid-column: 20 / span 3;
    grid-row: 9 / span 3;
    border-radius: 8px;
}
.glasses.stick.right{
    border-top: darkblue solid 1px;
    grid-column: 23 / span 1;
    grid-row: 9 / span 1;
}
/* NECK */
.neck{
    grid-column: 16 / span 7;
    grid-row: 15 / span 3;
    background-color:dodgerblue;
    border-radius: 5px 5px 0 0;
    
}
/* TORSO */
.torso{
    grid-column: 12 / span 15;
    grid-row: 17 / span 20;
    background-color:dodgerblue;
    border-radius: 40px;
}

/* ARMS */
.dodgerblue{
    
    background-color: dodgerblue;
    
}
.arm-left{
    grid-column: 9 / span 6;
    grid-row: 17 / span 15;
    transform: rotate(5deg);
    border-radius: 60px 0 0 0;
    clip-path: polygon(25% 0%, 0% 80%, 100% 100%, 100% 0%);
}
.arm-right{
    grid-column: 24 / span 6;
    grid-row: 17 / span 15;
    transform: rotate(-5deg);
    border-radius: 0 60px 0 0;
    clip-path: polygon(0% 0%, 75% 0%, 100% 80%, 0% 100%)
}
/* LEGS */
.richblack{
    background-color: #040F16;
}
.legs{
    grid-column: 13 / span 13;
    grid-row: 35 / span 17;
    z-index: -1;
}
/* SHADOW */
.shadow{
    box-shadow: 1px 0px 3px grey,
                -1px 0px 3px grey;
}
